body{
    background: url("../images/bg.jpg") no-repeat center fixed;
    background-size: cover;
}
div{
  background-color: brown;
}
h1{
    color: white;
    text-align: center;
      width: 300px;
      border: 3px  solid brown;
      padding: 20px;
      margin:0 auto;
      margin-top: 350px;
    
}
i{
  color:blue
}